@model IEnumerable<Cumulative.Models.Teacher>

<h1>This page gives the list of all the teachers.</h1>

@foreach(Cumulative.Models.Teacher CurrentTeacher in Model)
{
    <div><a href="/TeacherPage/Show/@CurrentTeacher.TeacherId">@CurrentTeacher.TeacherFName @CurrentTeacher.TeacherLName</a></div>
}